.wheel-container {
  width: 55%;
}

/* The wheel containing the images and polygon svg */
.wheel {
  position: relative;
  height: 18rem;
  width: 90%;
  border-radius: 50%;
  border: 3.2rem solid var(--color-btn);
  background: transparent;
  transform: rotate(0deg) scale(2.3);
  left: 26rem;
  top: 3rem;

  img {
    position: absolute;
    cursor: pointer;
    z-index: 1;
  }
}
