.hexagon::before {
  content: "";
  display: block;
  padding-top: 86.6%;
  background: red;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.hexagon {
  width: 150px;
  height: 150px;
  position: absolute;
  cursor: pointer;
  filter: url(#round);
  z-index: 1;
}
