:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-btn: rgb(7, 31, 17);
  --color-hero-span: rgb(12, 134, 105);
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  padding: 0;
  margin: 0;
}
